h1, h2 {
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  text-align: left;
}

p {
  font-family: 'Archivo', sans-serif;
}

#fname {
  font-family: 'Archivo', sans-serif;
  width: 700px;
  line-height: 3;
}

.register {
  display: inline-block;
  font-family: 'Archivo', sans-serif;
  background: #E7F0FF;
  width: 100px;
  line-height: 3;
}

.positive {
  background-color: #4392F1;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
}

.negative {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
}

a:hover {
  background-color: #aed0f9;
  transition: 1s;
}

.setup {
  margin: 30px;
  text-align: right;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.dashboard-white img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.bottom {
  margin: 50px;
  text-align: right;
}